nav {
    background-color: $primary;
    color: white;
    width: 100%;
    height: 11vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    @include flexRow(center,center);
    .nav-container{
        width:95%;
        @include flexRow(center,center);
        .logo{
            margin-left: 5%;
            font-size: 36px;
            font-family: 'ROOSTER PERSONAL USE', sans-serif;
            user-select: none;
            @include tablet{
                font-size: 24px;
            }
        }
        .list{
            @include flexRow(center,space-evenly);
            margin-left: auto;
            list-style: none;
            width: 40%;
            .item{
                font-family: 'Oswald', sans-serif;
                font-size: 1.2rem;
                @include tablet{
                    font-size: 14px;
                    margin-right: 5px;
                }
                a{
                    color: white;
                    text-decoration: none;
                }
                .search-bar{
                    position: relative;
                    input{
                        //margin-top: 5px;
                        background-color: white;
                        color: black;
                        padding: 8px 16px;
                        font-size: 16px;
                        border: none;
                        outline: none;
                        border-radius: 16px;
                        @include phone{
                           width: 150%;
                           transform: translateX(-40px);
                            padding: 4px 8px;
                        }
                    }
                    
                    
                }
            }
        }
        button{
            display: none;
        }
    }  
}
